vars {
  baseUrl: {{.BaseURL}}
  {{if .UseCognito}}
  cognito-client-id: {{ "{{" }}process.env.COGNITO_CLIENT_ID{{ "}}" }}
  cognito-user-pool-id: {{ "{{" }}process.env.COGNITO_USER_POOL_ID{{ "}}" }}
  cognito-region: {{ "{{" }}process.env.COGNITO_REGION{{ "}}" }}
  {{end}}
}
vars:secret [
{{if .UseCognito}}
  username,
  password,
  cachedToken,
  tokenExpiration,
  tokenType,
  cachedRefreshToken,
  refreshTokenExpiration,
  cachedUsername,
  cachedPassword
{{end}}
]
